.row
  .col-md-10
    .box
      .box-header.with-border
        = t('comments.title')
      .box-body
        - if comments.present?
          - comments.each do |comment|
            .row
              .col-md-2
                .name= "#{comment.user.username} #{t('reply')}："
                .time= comment.created_at.localtime
              .col-md-5
                .well
                  = comment.body
              .col-md-5
                .well
                  = comment.translated_body
        - else
          = t('no_comments')