.row
  .col-md-12
    .box
      %p#notice= notice
      .box-header.with-border 
        / %h3 Listing Service Requests
        / = link_to 'New Service Request', new_customers_service_request_path, class: 'btn bg-purple'
      .box-body
        %table.table.table-bordered
          %thead
            %tr
              %th= t('service_request.index')
              %th= t('service_request.customer_name')
              %th= t('service_request.title')
              %th= t('service_request.category')
              %th= t('service_request.deadline')
              %th= t('service_request.state')
              %th= t('service_request.assign_amount')
              %th= t('service_request.comments_amount')
              %th= t('service_request.operation')
          %tbody
            - service_requests.each do |sr|
              %tr
                %td= sr.id[0..7]
                %td= sr.customer.username
                %td= sr.title
                %td= sr.category.title
                %td= sr.deadline
                %td= sr.state
                %td= sr.assignments.blank? ? t('service_request.not_assigned') : sr.assignments.count
                %td= sr.comments.blank? ? t('service_request.no_comments') : "#{sr.comments.count} #{t('comments.unit')}"
                %td
                  = link_to t('service_request.check_detail'), [role, sr]
                  - if current_user.customer?
                    = link_to t('edit'), edit_customer_service_request_path(sr)