.row
  .col-md-6
    .box
      .box-header.with-border
        Service Request Basic Info
      .box-body
        %table.table.table-bordered
          %tbody
            %tr
              %th 客戶名
              %th= @service_request.customer.username
            %tr
              %th 單號
              %th= @service_request.id[0..7]
            %tr
              %th 標題
              %th= @service_request.title
            %tr
              %th 客訴種類
              %th= @service_request.category.title
            %tr
              %th 期限
              %th= @service_request.deadline
            %tr
              %th 狀態
              %th
                .float-left= @service_request.state
                = render '/service_requests/change_state', service_request: @service_request, state: @service_request.state
.row
  .col-md-6
    .box
      .box-header.with-border
        Service Request Description
      .box-body
        = @service_request.description
  .col-md-6
    .box
      .box-header.with-border
        Service Request Description - Translated by Google
      .box-body
        = @service_request.translated_desc
.row
  .col-md-10
    .box
      .box-header.with-border
        Assignments
      .box-body
        .row
          - if @service_request.assignments != []
            - @service_request.assignments.each do |a|
              .col-md-3
                .info-box-icon.bg-aqua
                  %i.fa.fa-user
                .info-box-content
                  .username= "姓名: #{a.user.username}"
                  .role
                    = "角色: #{a.user.role_list.first}"
          - else
            .col-md-3 未指派任何人員
        - if current_user.admin?
          %hr
          = '# 警告！ 過度經常的變動會造成工作指派的混亂'
          .row
            .col-md-12.assignment-form
              = simple_form_for [current_user, @service_request], url: update_assignment_admin_service_request_path(@service_request), method: 'POST', label: false do |f|
                = f.association :responsibles, as: :check_boxes, label_method: :username, collection: User.sales + User.teches, include_hidden: false, label: 'Change assignment'
                = f.button :submit, 'Update Assignment'
.row
  .col-md-10
    .box
      .box-header.with-border
        Photos
      .box-body
        - @service_request.images.each do |image|
          = link_to image.file_path.url, target: '_blank' do
            = image_tag image.file_path, size: '320x240'
.row
  .col-md-10
    .box
      .box-header.with-border
        Attachments
      .box-body
        - @service_request.attachments.each do |attachment|
          = link_to File.basename(attachment.file_path.path), attachment.file_path.url, target: '_blank'
.row
  .col-md-10
    .box
      .box-body
        = simple_form_for [@service_request, Comment.new] do |f|
          .row
            .col-md-10
              = f.input :body, input_html: {class: 'form-control', rows: 6}, label: false
            .col-md-2
              = f.button :submit, class: 'btn btn-warning'
= render 'service_requests/comments', comments: @comments