.row
  .col-md-6
    .box
      .box-header.with-border
        Service Request Basic Info
      .box-body
        %table.table.table-bordered
          %tbody
            %tr
              %th 單號
              %th= @service_request.id[0..7]
            %tr
              %th 標題
              %th= @service_request.title
            %tr
              %th 客訴種類
              %th= @service_request.category.title
            %tr
              %th 期限
              %th= @service_request.deadline
            %tr
              %th 狀態
              %th
                .float-left= @service_request.state
                - if current_user.admin?
                  = render 'admin/service_requests/change_state', service_request: @service_request, state: @service_request.state

    .box
      .box-header.with-border
        Service Request Description
      .box-body
        = @service_request.description
.row
  .col-md-10
    .box
      .box-header.with-border
        Photos
      .box-body
        - @service_request.images.each do |image|
          = link_to image.file.url do
            = image_tag image.file, size: '120x80'
.row
  .col-md-10
    .box
      .box-header.with-border
        Attachments
      .box-body
        - @service_request.attachments.each do |attachment|
          = link_to File.basename(attachment.file.path), attachment.file.url, target: '_blank'
.row
  .col-md-10
    .box
      .box-body
        = simple_form_for [@service_request, Comment.new] do |f|
          .row
            .col-md-10
              = f.input :body, input_html: {class: 'form-control', rows: 6}, label: false
            .col-md-2
              = f.button :submit, class: 'btn btn-warning'
.row
  .col-md-10
    .box
      .box-header.with-border
        Comments
      .box-body
        - @comments.each do |comment|
          .row
            .col-md-2
              .name= "#{comment.user.username} 回覆："
              .time= comment.created_at.localtime
            .col-md-10
              .well
                = comment.body