.row
  .col-md-6
    .box
      .box-header.with-border
        Service Request Basic Info
      .box-body
        %table.table.table-bordered
          %tbody
            %tr
              %th= t('customer_name')
              %th= @service_request.customer.username
            %tr
              %th= t('service_request.index')
              %th= @service_request.id[0..7]
            %tr
              %th= t('service_request.equipment_id')
              %th= @service_request.equipment_id
            %tr
              %th= t('service_request.title')
              %th= @service_request.title
            %tr
              %th= t('service_request.category')
              %th= @service_request.category.title
            %tr
              %th= t('service_request.deadline')
              %th= @service_request.deadline
            %tr
              %th= t('service_request.state')
              %th
                .float-left= render 'common/color_state', state: @service_request.state
                = render '/service_requests/change_state', service_request: @service_request, state: @service_request.state
.row
  .col-md-6
    .box
      .box-header.with-border
        = t('service_request.description')
      .box-body
        = @service_request.description
  .col-md-6
    .box
      .box-header.with-border
        = t('service_request.translate_desc')
      .box-body
        = @service_request.translated_desc
.row
  .col-md-10
    .box
      .box-header.with-border
        = t('assignment')
      .box-body
        - if current_user.admin?
          .row
            .col-md-12.assignment-form
              = simple_form_for [current_user, @service_request], url: update_assignment_admin_service_request_path(@service_request), method: 'POST', label: false do |f|
                = f.association :responsibles, as: :check_boxes, label_method: :username, collection: User.sales + User.teches, include_hidden: false, label: 'Change assignment'
                = f.button :submit, t('update_assignment'), data: { disable_with: t('please_wait') }
        - else
          .row
            - if @service_request.assignments != []
              - @service_request.assignments.each do |a|
                .col-md-3
                  .info-box-icon.bg-aqua
                    %i.fa.fa-user
                  .info-box-content
                    .username= "姓名: #{a.user.username}"
                    .role
                      = "角色: #{a.user.role_list.first}"
            - else
              .col-md-3= t('service_request.not_assigned')
.row
  .col-md-10
    .box
      .box-header.with-border
        = t('images')
      .box-body
        - @service_request.images.each do |image|
          = link_to image.file_path.url, target: '_blank' do
            = image_tag image.file_path, size: '320x240'
.row
  .col-md-10
    .box
      .box-header.with-border
        = t('attachments')
      .box-body
        - @service_request.attachments.each do |attachment|
          = link_to File.basename(attachment.file_path.path), attachment.file_path.url, target: '_blank'
- unless @service_request.close?
  .row
    .col-md-10
      .box
        .box-body
          = simple_form_for [@service_request, @comment] do |f|
            .row
              .col-md-10
                = f.input :body, input_html: {class: 'form-control', rows: 6}, label: false
                #comment_documents
                  = f.simple_fields_for :comment_documents do |comment_document|
                    = render 'comments/comment_document_fields', f: comment_document
                  .links
                    = link_to_add_association f, :comment_documents, partial: 'comments/comment_document_fields' do
                      .btn.btn-primary.btn-sm= t('add_comment_documents')
              .col-md-2
                = f.button :submit, t('submit_comment'), class: 'btn btn-warning', data: { disable_with: t('please_wait') }
= render 'service_requests/comments', comments: @comments