.row
  .col-md-12
    .box
      .box-header.with-border 
        %strong= t('customer_list')
      .box-body
        %table.table.table-bordered
          %thead
            %tr
              %th= t('customer_number')
              %th= t('name')
              %th= t('requests_amount')
              %th= t('requests')
              %th= t('register_date')
          %tbody
            - @customers.each do |customer|
              %tr
                %td= customer.customer_number
                %td= link_to customer.username, edit_admin_user_path(customer)
                %td= customer.service_requests.count
                %td= link_to 'Detail', index_for_certain_user_admin_service_requests_path(user_id: customer)
                %td= customer.created_at.to_s(:simple_date)
= paginate @customers