.row
  .col-md-12
    .box
      .box-header.with-border 
        %strong= t('customer_list')
      .box-body
        %table.table.table-bordered
          %thead
            %tr
              %th= t('name')
              %th= t('requests_amount')
              %th= t('requests')
              %th= t('register_date')
          %tbody
            - @customers.each do |customer|
              %tr
                %td= customer.username
                %td= customer.service_requests.count
                %td
                  %ul.nav.nav-stacked
                    - customer.service_requests.each do |s|
                      %li= render 'admin/common/path_to_request_show', s: s
                %td= customer.created_at.to_s(:simple_date)