.row
  - @admins.each do |admin|
    .col-md-4
      .box.box-widget.widget-user-2
        .widget-user-header.bg-yellow
          .widget-user-image
            / put user avatar here, image_tag
          %h3.widget-user-username= admin.username
          %h5.widget-user-desc= admin.role_list.first
        .box-footer.no-padding
          %ul.nav.nav-stacked
            - ServiceRequest.all.each do |s|
              %li
                = link_to "客訴單標題： #{s.title}, 狀態：#{s.state}", admin_service_request_path(s)
.row
  - @sales.each do |sales|
    .col-md-4
      .box.box-widget.widget-user-2
        .widget-user-header.bg-green
          .widget-user-image
            / put user avatar here
          %h3.widget-user-username= sales.username
          %h5.widget-user-desc= sales.role_list.first
        .box-footer.no-padding
          %ul.nav.nav-stacked
            - sales.assigned_service_requests.each do |s|
              %li
                = link_to "客訴單標題： #{s.title}", admin_service_request_path(s)
.row
  - @teches.each do |tech|
    .col-md-4
      .box.box-widget.widget-user-2
        .widget-user-header.bg-yellow
          .widget-user-image
            / put user avatar here
          %h3.widget-user-username= tech.username
          %h5.widget-user-desc= tech.role_list.first
        .box-footer.no-padding
          %ul.nav.nav-stacked
            - tech.assigned_service_requests.each do |s|
              %li
                = link_to "客訴單標題： #{s.title}", admin_service_request_path(s)