.row
  .col-md-12
    .box
      .box-header.with-border 
        %strong= t('sales_list')
      .box-body
        %table.table.table-bordered
          %thead
            %tr
              %th= t('staff_number')
              %th= t('name')
              %th= t('owned_requests')
              %th= t('requests')
              %th= t('register_date')
          %tbody
            - @sales.each do |sales|
              %tr
                %td= sales.staff_number
                %td= link_to sales.username, edit_admin_user_path(sales)
                %td= link_to sales.assigned_service_requests_as_owner.count, index_for_certain_user_admin_service_requests_path(user_id: sales, role: 'owner')
                %td= link_to sales.assigned_service_requests_as_sales.count, index_for_certain_user_admin_service_requests_path(user_id: sales, role: 'sales')
                %td= sales.created_at.to_s(:simple_date)
%p= paginate @sales if sales.presents
%p= "共 #{(@sales and @sales.size) || 0} 位業務"