.row
  .col-md-12
    .box
      .box-header.with-border 
        %strong= t('tech_list')
      .box-body
        %table.table.table-bordered
          %thead
            %tr
              %th= t('staff_number')
              %th= t('name')
              %th= t('requests')
              %th= t('register_date')
          %tbody
            - @teches.each do |tech|
              %tr
                %td= tech.staff_number
                %td= link_to tech.username, edit_admin_user_path(tech)
                %td= link_to tech.assigned_service_requests_as_tech.count, index_for_certain_user_admin_service_requests_path(user_id: tech)
                %td= tech.created_at.to_s(:simple_date)
%p= paginate @teches
%p= "共 #{(@teches and @teches.size) || 0} 位技術人員"