.main-header
  .logo= Setting.app_name
  %nav.navbar.navbar-fixed-top(role='navigation')
    %a.sidebar-toggle(href='#' data-toggle='offcanvas' role='button')
    .collapse.navbar-collapse.navbar-custom-menu
      %span.sr-only Toggle navigation
      %ul.nav.navbar-nav
        - if !user_signed_in?
          %li= link_to '登入', new_user_session_path
          %li= link_to '註冊', new_user_registration_path
        %li= link_to '前台', landing_home_index_path
        - if current_user.admin?
          %li= link_to '管理員後台', admin_users_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") 
              = current_user.nick_name
              %span.caret
            %ul.dropdown-menu.pull-right(role="menu")
              %li= link_to '登出', destroy_user_session_path, method: 'DELETE'