.row
  .col-md-6
    .box
      .box-header.with-border 
        %strong= t('category_list')
      .box-body
        %table.table.table-bordered
          %thead
            %th= t('chinese')
            %th= t('english')
            %th= t('note')
            %th= t('operattion')
          %tbody
            - @categories.each do |category|
              %tr
                %td= category.tw_title
                %td= category.en_title
                %td= category.note
                %td= link_to t('delete'), admin_category_path(category), method: 'DELETE'
.row
  .col-md-6
    .box
      .box-header
        %strong= t('add_category')
      .box-body
        = simple_form_for [:admin, @category] do |f|
          .row
            .col-md-6= f.input :tw_title, input_html: {class: 'form-control'}
            .col-md-6= f.input :en_title, input_html: {class: 'form-control'}
          .row
            .col-md-12= f.input :note, input_html: {class: 'form-control'}
          .row
            .col-md-4= f.button :submit, t('add_category')