.row
  .col-md-6.col-md-offset-3
    %h1.text-center= t('add_new_user')
    %hr
    = simple_form_for [:admin, User.new] do |f|
      .row
        .col-md-6= f.input :username, input_html: {class: 'form-control'}, required: true
        .col-md-6= f.input :email, as: :email, input_html: {class: 'form-control'}, required: true
      .row
        .col-md-6= f.input :password, input_html: {class: 'form-control'}, required: true
        .col-md-6= f.input :password_confirmation, input_html: {class: 'form-control'}, required: true
      .row
        .col-md-12= f.input :role, as: :radio_buttons, collection: User.available_role_names, checked: :sales
      .row
        .col-md-12= f.button :submit, t('sign_up'), data: { disable_with: t('please_wait') }
    %hr
    / = link_to t('cancle'), root_path, class: 'btn btn-default'